# built products directory
dist/

# modules
node_modules/

# test objects
# World/Fox.js
# World/Floor.js
# static/draco/
# static/models/Fox/
# static/textures/dirt/
# static/textures/environmentMaps/environmentMap/

# config file

# others
.DS_Store
*.blend1